*{
    font-family: 'Montserrat', sans-serif;
}
.my-navbar{
    background-color: #0C2B4E;
}

.nav-link{
    font-size: 18px;
}

.nav-link, .navbar-brand{
    color: white;
    margin-left: 20px;
    font-weight: bold;
}

.nav-link.active{
    color: white;
}

.footer{
    background-color: #0C2B4E;
}

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
